---
title: nav_home
lang: <%= language %>
nav_title: nav_home
nav_position: 1
nav_visible: true
body_classes:
---
<div class="coontent-container">
    <div class="row">
        <div class="large-12 column">
            <main class="content-main" role="main">
                <p>CONTENT</p>
                <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                    <div><h3>1</h3></div>
                    <div><h3>2</h3></div>
                    <div><h3>3</h3></div>
                    <div><h3>4</h3></div>
                    <div><h3>5</h3></div>
                    <div><h3>6</h3></div>
                </div>
            </main>
        </div>
    </div>
</div>
