<div class="page-footer-container">
    <div class="row">
        <div class="column medium-12">
            <footer class="page-footer">
                <p>FOOTER</p>
            </footer>
        </div>
    </div>
</div>

