<div class="page-header-container">
    <div class="row">
        <div class="column medium-5">
            <header class="page-header">
                <h1>WEBSITE</h1>
                {{>navigation_main}}
            </header>
        </div>
    </div>
</div>